.header-navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transform: translateY(0);
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  background-color: #18181b;
}

.navbar {
  color: #edefee;
  margin: 0 auto;
  padding: 2vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-socials {
  display: flex;
  gap: 2vw;
}
.right-links {
  display: flex;
  gap: 2vw;
}

.envelope {
  color: #d44638;
}
.github {
  color: #edefee;
}
.linkedIn {
  color: #0a66c2;
}
.discord {
  color: #5865f2;
}

.link1,
.link2 {
  color: #edefee;
  text-decoration: none;
  list-style-type: none;
}
