.section1 {
  background-color: #053c5e;
  width: 100vw;
  max-width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  scroll-snap-align: start;
  flex-direction: column;
}
.profileImage {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  box-shadow: 2px 4px 2px rgba(0, 0, 0, 0.5);
}
.faIcon {
  font-size: 8vw;
  padding: 2vw;
}
.faIcon:hover {
  transform: scale(1.2);
  transition: all 0.3s ease-in-out;
}
.header1 {
  font-family: "MarkaziText";
  font-weight: 600;
  font-size: clamp(12px, 10vw, 48px);
  line-height: normal;
  color: #edefee;
  text-shadow: 2px 4px 2px rgba(0, 0, 0, 0.5);
}
.header2 {
  font-family: "Karla";
  font-weight: 600;
  font-size: clamp(12px, 4vw, 18px);
  text-align: center;
  color: #edefee;
  text-shadow: 2px 4px 2px rgba(0, 0, 0, 0.25);
  margin-top: -2vh;
  padding: 8px;
}

.paragraph {
  max-width: 70vw;
}

.scroll-down-arrow1 {
  position: absolute;
  bottom: 3dvh;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.5rem;
  color: #fff;
  cursor: pointer;
  z-index: 1;
}

.section1-arrow1 {
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateX(-50%) translateY(0);
  }
  50% {
    transform: translateX(-50%) translateY(-10px);
  }
}
