.section3 {
  position: relative;
  background-color: #51513d;
  width: 100vw;
  max-width: 100vw;
  height: 100vh;
  min-height: 100vh;
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section3-heading {
  font-family: "MarkaziText";
  position: absolute;
  top: 1%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #edefee;
  text-shadow: 2px 4px 2px rgba(0, 0, 0, 0.5);
}
.accordion .MuiAccordionSummary-root,
.MuiAccordionDetails-root {
  background: #edefee;
}

/* TITEL TEXT*/
.accordion .MuiAccordionSummary-root {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 8px;
  color: #000;
  font-weight: 800;
}

.accordion .MuiAccordionSummary-root .MuiTypography-root {
  flex-grow: 1;
}

.accordion:first-of-type {
  margin-top: 12vh;
}

/* P TEXT*/
p.MuiTypography-root {
  font-family: "Karla";
  font-weight: 400;
  font-size: 14px;
  color: #000;
  text-align: center;
}

.cert-container {
  display: inline-flex;
  gap: 7vw;
}
.cert, .badge {
  width: 50vw;
  max-width: 400px;
  height: auto;
  padding: 24px;
}