.section2 {
  position: relative;
  background-color: #254441;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  scroll-snap-align: start;
}
.section2-heading {
  font-family: "MarkaziText";
  position: absolute;
  top: 1%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #edefee;
  text-shadow: 2px 4px 2px rgba(0, 0, 0, 0.5);
}

.projekt-div {
  text-align: center;
}
.slick-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}

.slick-slide .projekt-div {
  padding: 0 10px;
  box-sizing: border-box;
}

.Karusell {
  width: 80vw;
  max-width: 450px;
  margin: auto;
  border-radius: 16px;
}

.slick-dots {
  text-align: center;
}

.projekt-bild {
  max-width: 100%;
  height: auto;
}

.projekt-titel {
  color: #edefee;
  font-family: "Karla";
  font-size: 16px;
  text-shadow: 2px 4px 2px rgba(0, 0, 0, 0.5);
  margin-bottom: 5px;
  text-align: center;
  font-weight: 500;
}

.projekt-paragraph {
  color: #edefee;
  font-family: "Karla";
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.projekt-knapp {
  padding: 6px;
  font-family: "Karla";
  font-size: 14px;
  font-weight: 700;
  border-radius: 8px;
  border: 1px solid #edefee;
  cursor: pointer;
}

.projekt-knapp:hover {
  transform: scale(110%);
  transition: transform 0.2s ease-in-out;
}

@media (max-width: 992px) {
  .section2 {
    flex-direction: column;
  }
}
