.section3 {
  position: relative;
  background-color: #64403e;
  width: 100vw;
  max-width: 100vw;
  height: 100vh;
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.certsContainer {
  position: absolute;
  bottom: 5%;
}

@media (max-width: 992px) {
  .imageList {
    width: 90vw;
  }
}
@media (min-width: 992px) {
  .imageList {
    width: 65vw;
  }
}
