.section3 {
  background-color: #64403e;
  width: 100vw;
  max-width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  scroll-snap-align: start;
}
.certsContainer {
  top: 0;
  display: flex;
  justify-content: center;
  max-width: 100vw;
  flex-wrap: wrap;
  padding: 4vw;
  margin: 2vw;
  gap: 2vw;
  border: 1px solid #edefee;
  border-radius: 8px;
  background: linear-gradient(45deg, lightblue, lightyellow, lightblue);
}
.certsImage {
  width: 20vw;
  height: auto;
}
.certsText {
  flex: auto;
}
