body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}
@font-face {
  font-family: "Karla";
  src: url("./assets/Karla.ttf") format("truetype");
}

@font-face {
  font-family: "MarkaziText";
  src: url("./assets/MarkaziText.ttf") format("truetype");
}
